:root {
	--White: hsl(0, 0%, 100%);
	--Grey: hsl(0, 0%, 20%);
	--Dark-Grey: hsl(0, 0%, 12%);
	--Off-Black: hsl(0, 0%, 8%);
}
.body {
	background-color: var(--Off-Black);
}

.div1 {
	background-color: var(--Dark-Grey);
	width: 375px;
	justify-content: center;
	max-width: 1440px;
	min-width: 375px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	padding-top: 15px;
	padding-bottom: 30px;
	border-radius: 15px;
	text-align: center;
}
.divimg {
	margin-top: 20px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}
.photoimg {
	width: 100%;
	border-radius: 50%;
}
.hthreetext {
	color: var(--White);
	font-family: 'Inter', sans-serif;
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
	font-weight: 500;

	margin-bottom: ;
	padding-bottom: auto;
}
.hfourtext {
	color: greenyellow;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-weight: 600;
}
.hfivetext {
	color: lightgray;
}
.hsixtext {
	background-color: var(--Grey);
	color: var(--White);
	font-family: 'Inter', sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 8px;
	font-weight: 700;
	font-size: 15px;
	margin-top: 15px;
	font-style: bold;
}
.git {
	color: white;
}
